*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 3;
    font-family: "Tajawal", sans-serif; 
}

body{
    direction: rtl;
    overflow: hidden;
    font-family: "Tajawal", sans-serif; 
}

.container{
  position: relative;
}

header{
  width: 100%;
  padding: 10px 2em;
  color: #fff;
  background-color: #006c68;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .7em;
}

header svg{
  width: 60px;
}

.logo path{
  fill: #fff;
  stroke: #fff;
}

.front{
  display: flex;
  flex-direction: column;
}

.front p{
  font-size: .6em;
  text-align: center;
}


.content svg text{
  font-family: "Tajawal", sans-serif;
}

#rect{
  opacity: .6;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: relative;
}

.content{
    /* border: 2px solid blue; */
    display: none;
    grid-template-columns: auto 1fr;
    /* gap: 2.5em; */
    padding: 1em;
    animation-name: show;
    width: 100%;
    justify-content: center;
    animation-duration: 2s;
}

@media screen and (max-width: 700px) {
    .content{
        grid-template-columns:100% 100%;
        grid-template-rows: auto auto;
        overflow: scroll;
        gap: .5em;
        align-items: start !important;
        justify-content: start;
    }

    svg{
      /* border: 2px solid red; */
      min-width: 100%;
    }
    
}

.vid{
    position: absolute;
    z-index: 1;
    width: 100%;
}


.c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.speech{
    width: 400px;
    flex-direction: column;
    gap: 3em;
    background: rgba(248, 248, 248, 0.773);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(33, 33, 33, 0.3);
}

.speech img{
    width: 60%;
}

.speech p{
    padding: .3em;
    width: 100%;
    min-height: 120px;
}

@keyframes show{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.content svg{
    max-width: 600px;
}

.content path{
    fill: transparent;
}

.type{
    
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.brighten{
  fill: rgba(250, 14, 14, 0.315) !important;


}

.map svg path{
  stroke-width: 1.7px;
}



 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
